<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
</head>
<body>
    <div id="login">
        <form method="POST" action="http://localhost:9090/verfy">
            <div id="id">
                账号  <input type="text" name="id">
            </div>
            <div id="pwd">
                密码  <input type="password" name="password">
            </div>
            <div id="sumbmitbutton">
                <input type="submit" value="登录">
            </div>
            
        </form>
          
        <br />{{ str  }}
    </div>
  
</body>
</html>